.container {
    margin-top: 150px;
}
.table {
    display: block;
    height: 300px;
    margin-top: 20px;
}
.column-3 {
    width: 200px;
}
.modalBackground {
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    position: fixed;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.modalContainer {
    width: 400px;
    height: 320px;
    padding:50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}
.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
